.featured-container {
    margin-top: 40px;
    width: 1000px;
    height: 500px;
    border-radius: 3px;
    background-size: cover;
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, .5);
}


.featured-right {
    display: grid;
    grid-template-rows: 2fr 1fr;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: rgba(255, 255, 255, .8);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.featured-right h2, h3 {
    margin: 0px;
    margin-bottom: 5px;
    color: #ff564c;
}

.featured-p {
    font-size: 14px;
}

.featured-right p {
    margin-top: 0px;
    margin-bottom: 15px;
}

.right-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.featured-left {
    background-size: cover;
    background-position: center;
    width: 100%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}


.stars {
    display: inline-block;
    font-size: 26px;
    font-family: Times;
    line-height: 1;
    justify-content: center;
  }

.stars::before {
    --percent: calc(var(--rating) / 5 * 100%);
      content: '★★★★★';
      letter-spacing: 3px;
      background: linear-gradient(90deg, #ff564c var(--percent), #f8b7a8 var(--percent));
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
}


.right-bottom-ele {
    margin-bottom: 5px !important;
}


.featured-button {
    text-decoration: none;
    padding: 12px;
    color: white;
    border-radius: 5px;
    box-sizing: border-box;
    border: 3px solid white;
    background-color: #a66252;
}

.featured-button:hover {
    color: #a66252;
    border: 3px solid #a66252;
    background-color: white;
}


.baby-header {
    font-size: 18px;
    margin-top: -5px !important;
}

.featured-h3 {
    margin-top: 25px !important;
}

.span {
    color: #a66252
}

.submit-by {
    color: #ff564c;
    font-weight: bold;
}
